.iconContainer {
  background-color: white;
  border: 1px solid #dddd;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 10px 10px 24px -18px rgba(79, 79, 79, 1);
  -moz-box-shadow: 10px 10px 24px -18px rgba(79, 79, 79, 1);
  box-shadow: 10px 10px 24px -18px rgba(79, 79, 79, 1);
  position: absolute;
  top: 10rem;
  right: 5rem;
}
.iconText {
  font-size: 1.5rem;
  font-weight: 600;
}
